@model IEnumerable<Lib.Models.Server> 

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            @foreach (var server in Model)
            {
                <div class="item">
                    <hr />
                    <h3>@server.Name</h3>
                    <p>@server.Domen</p>
                    <p>Server type: @server.Type</p>
                    @Html.ActionLink("Update", "Edit", "Servers", new { id = server.Id }, null)
                    <hr />
                </div>
            }
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div style="text-align: right">
                @Html.ActionLink("Add new server", "Add", "Servers")
            </div>
        </div>
    </div>
</div>