@model IEnumerable<Lib.Models.Server> 

@{
    ViewBag.Title = "Сервера";
}

<h2>Сервера</h2>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            @foreach (var server in Model)
            {
                <div class="item">
                    <hr />
                    <h3>@server.Name</h3>
                    <p>
                        <a href="https://@server.Domen">@server.Domen</a>
                    </p>
                    <p>Server type: @server.Type</p>
                    @Html.ActionLink("Изменить", "Edit", "Servers", new { id = server.Id }, null)
                    <hr />
                </div>
            }
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div style="text-align: right">
                @Html.ActionLink("Добавть сервер", "Add", "Servers")
            </div>
        </div>
    </div>
</div>