@model Lib.Models.Server

<p>Имя сервера:</p>
@Html.TextBoxFor(m => m.Name)
<div>
    <p style="color: crimson">@Html.ValidationMessageFor(model => model.Name)</p>
</div>
<p>Домен:</p>
@Html.TextBoxFor(m => m.Domen)
<div>
    <p style="color: crimson">@Html.ValidationMessageFor(model => model.Domen)</p>
</div>
<p>Тип:</p>
<div>
    @Html.DropDownListFor(a => a.Type, new SelectList(Enum.GetValues(typeof(Lib.Models.ServerType))))
</div>
<hr />
